:root {
    --background: #d1dbe4;
    --accent: #194a7a;
    --foreground: #476f95;
    --foreground2: #7593af;
    --background2: #a3b7ca;
    --white: #dde7fb;
    --whiter: #fafbfc;
    --black: #0e2944;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#react-entry-point {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#frame {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.page {
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100vh;
    margin: auto;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

#title {
    background: var(--background);
    font-family: "Optima";
    font-size: 80px;
    text-align: center;
}

#graph-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.rc-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 50%;   
    background: var(--background);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.rc-slider-track {
    background: var(--foreground);
}

.rc-slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    margin-top: -8px;
    background-color: var(--accent);
    cursor: pointer;
    right: auto;
    transform: translateX(-50%);
    touch-action: pan-x;
}
